:root {
  --color-bg: #0D0D0D;                
  --color-bg-secondary: #1A1A1A;       
  --color-text: #E5FFE5;        
  --color-text-secondary: #77ff77;   
  --color-text-hover: #00FFAE;               
  --color-accent: #00FFAE;             
  --color-accent-hover: #00cc8f;     
  --color-error: #FF4444;             
  --color-border: #2A2A2A;   
  
  --font-family-base: 'Segoe UI', sans-serif;
}